[Unit]
Description=Research bulletin send

[Timer]
OnCalendar=*-*-* *:*:00 UTC
AccuracySec=1s
RandomizedDelaySec=0
Persistent=false
Unit=marx-search-research-send.service

[Install]
WantedBy=timers.target
